@import 'tailwindcss';
/* source('../../admin/'); */

:root {
  --chart-1: hsl(41, 22%, 65%);
  --chart-2: hsl(185, 12%, 60%);
  --chart-3: hsl(227, 7%, 40%);
  --chart-4: hsl(84, 19%, 83%);
  --chart-5: hsl(70, 19%, 77%);
}

.dark {
  --chart-1: hsl(264, 24%, 49%);
  --chart-2: hsl(162, 17%, 70%);
  --chart-3: hsl(70, 19%, 77%);
  --chart-4: hsl(303, 26%, 63%);
  --chart-5: hsl(16, 24%, 64%);
}

@theme inline {
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
}
